{% extends "_layout" %}

{% block content %}
<header>
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell">	
				{{ entry.title }}
			</div>
		</div>
	</div>
</header>

<main id="main">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell">	
				{% paginate craft.entries.section('blog').limit(4).all() as pageInfo, pageEntries %}
				{% for entry in pageEntries %}
					<div class="blog-entry-listed">
						<h2>{{ entry.title }}</h2>
						<time>Posted on {{ entry.postDate.format('F d, Y') }} by {{ entry.author.fullName }}</time>
					</div>
				{% endfor %}
			</div>
			<div class="cell blog-nav">
				{% if pageInfo.prevUrl %}
					<a href="{{ pageInfo.prevUrl }}#main" class="button no-bg prev">Previous Page</a>
				{% endif %}
				{% if pageInfo.nextUrl %}
					<a href="{{ pageInfo.nextUrl }}#main" class="button no-bg next">Next Page</a>
				{% endif %}
			</div>
		</div>
	</div>
</main>
{% endblock %}